*{
    margin: 0;
    padding: 0;
}

body{
   background: #9013fe;
   display: flex;
   justify-content: center;
   height: 80vh;
}

.container{
    background: white;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 100px;
    border-radius: 20px;
}

.container > .row{
    width: 100%;
    justify-content: space-evenly;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-name{
    margin: 20px 0px;
    font-size: x-large;
    font-weight: bold;
}

.profile-icon{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 80px;
    border: 2px solid bisque;
}

.score{
    font-size: xx-large;
}

.score > span {
    margin: 0px 5px;
}

.round-runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}

#bat-button{
    font-size: large;
    width: 200px;
    background: linear-gradient(135deg,yellow,red);
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.result{
    margin-top: 50px;
    text-transform: uppercase;
    font-size: xx-large;
}

.dot{
 height: 25px;
  width: 25px;
  background-color: #fff;
   border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
}

#try-again{
    font-size: large;
    width: 200px;
    background: linear-gradient(135deg,yellow,red);
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
 